api/TaskManager/.vs/TaskManager/v17/.suo
api/TaskManager/.vs/ProjectEvaluation/taskmanager.metadata.v7.bin
api/TaskManager/.vs/ProjectEvaluation/taskmanager.projects.v7.bin
api/TaskManager/.vs/TaskManager/DesignTimeBuild/.dtbcache.v2
api/TaskManager/.vs/TaskManager/FileContentIndex/3d85c45c-3d2a-4060-b5ff-c138fbbdd580.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/3dc9cbba-c0bb-420c-9c71-f84d85340af0.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/4bb4dbbd-63c4-4ca2-bc68-012dbc4f832a.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/8f34217a-197f-486a-9bc7-7a2ab1078ab9.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/9c02037a-9d95-45a6-8ef6-8ae2b2ac3809.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/5880acc2-be52-4c93-8038-3d5ab64d2843.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/d386cf61-2612-4a3a-8ae7-8525e9276044.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/e0d6632a-e599-4077-8bd9-e3287669a13d.vsidx
api/TaskManager/.vs/TaskManager/v17/.futdcache.v2
api/TaskManager/.vs/ProjectEvaluation/taskmanager.metadata.v7.bin
api/TaskManager/.vs/ProjectEvaluation/taskmanager.projects.v7.bin
api/TaskManager/.vs/TaskManager/DesignTimeBuild/.dtbcache.v2
api/TaskManager/.vs/TaskManager/FileContentIndex/3d85c45c-3d2a-4060-b5ff-c138fbbdd580.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/3dc9cbba-c0bb-420c-9c71-f84d85340af0.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/d386cf61-2612-4a3a-8ae7-8525e9276044.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/e0d6632a-e599-4077-8bd9-e3287669a13d.vsidx
api/TaskManager/.vs/TaskManager/v17/.futdcache.v2
api/TaskManager/.vs/ProjectEvaluation/taskmanager.metadata.v7.bin
api/TaskManager/.vs/ProjectEvaluation/taskmanager.projects.v7.bin
api/TaskManager/.vs/TaskManager/DesignTimeBuild/.dtbcache.v2
api/TaskManager/.vs/TaskManager/FileContentIndex/3d85c45c-3d2a-4060-b5ff-c138fbbdd580.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/3dc9cbba-c0bb-420c-9c71-f84d85340af0.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/d386cf61-2612-4a3a-8ae7-8525e9276044.vsidx
api/TaskManager/.vs/TaskManager/FileContentIndex/e0d6632a-e599-4077-8bd9-e3287669a13d.vsidx
api/TaskManager/.vs/TaskManager/v17/.futdcache.v2
api/TaskManager/.vs/TaskManager/v17/.suo
