<div class="py-1">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>{{ config.label }}</mat-label>
    <input matInput #date [id]="id" [disabled]="config.disabled" [placeholder]="config.placeholder"
      (input)="onInputChange($event)" (dateChange)="onDateChange(date.value)" [required]="config.required"
      [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div *ngIf="isRequired" class="mt-md-n3">
    <ul class="smaller">
      <li *ngIf="requiredError" class="d-flex" [style.color]="!hasCharacters() ? 'red' : 'green'">
        <mat-icon *ngIf="hasCharacters()">check_circle_outline</mat-icon>
        <mat-icon *ngIf="!hasCharacters()">error_outline</mat-icon>
        <span class="px-2 align-self-center">{{ requiredError.description }}</span>
      </li>
      <li *ngIf="dateError" class="d-flex" [style.color]="!hasDateFormat() ? 'red' : 'green'">
        <mat-icon *ngIf="hasDateFormat()">check_circle_outline</mat-icon>
        <mat-icon *ngIf="!hasDateFormat()">error_outline</mat-icon>
        <span class="px-2 align-self-center">{{ dateError.description }}</span>
      </li>
    </ul>
  </div>
</div>